{% extends '@admin/default_frame.twig' %}

{% set menus = ['store', 'plugin', 'plugin_owners_search'] %}

{% block title %}{{'admin.store.plugin_search.885'|trans}}{% endblock %}
{% block sub_title %}{{'admin.store.plugin_search.884'|trans}}{% endblock %}


{% block main %}
  <div class="c-outsideBlock">
    <div class="c-outsideBlock__contents mb-5">
      <div class="row">
        <div class="col-4">
          <div class="position-relative">
            <button aria-expanded="false" class="btn btn-default dropdown-toggle form-control text-left" data-toggle="dropdown" style="border: 2px solid rgb(206, 212, 218); width: 100%; border-radius: 0; height: 40px;" type="button">
              <span>Danh mục</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu w-100" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(21px, 55px, 0px);" x-placement="bottom-start">
              <li><input class="ml-1" name="search[category][]" type="checkbox" value="1"><a class="ml-2" href="#" tabindex="-1">Management</a>
              </li>
              <li><input class="ml-1" name="search[category][]" type="checkbox" value="2"><a class="ml-2" href="#" tabindex="-1">Marketing</a>
              </li>
              <li><input class="ml-1" name="search[category][]" type="checkbox" value="3"><a class="ml-2" href="#" tabindex="-1">Sales</a>
              </li>
              <li><input class="ml-1" name="search[category][]" type="checkbox" value="4"><a class="ml-2" href="#" tabindex="-1">Reporting</a>
              </li>
              <li><input class="ml-1" name="search[category][]" type="checkbox" value="5"><a class="ml-2" href="#" tabindex="-1">Payment</a>
              </li>
              <li><input class="ml-1" name="search[category][]" type="checkbox" value="6"><a class="ml-2" href="#" tabindex="-1">Delivery</a>
              </li>
              <li><input class="ml-1" name="search[category][]" type="checkbox" value="7"><a class="ml-2" href="#" tabindex="-1">Utility</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-2 px-0">
          <div class="position-relative">
            <button aria-expanded="false" class="btn btn-default dropdown-toggle form-control text-left" data-toggle="dropdown" style="border: 2px solid rgb(206, 212, 218); width: 100%; border-radius: 0; height: 40px;" type="button">
              <span>Giá bán</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu w-100" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(21px, 55px, 0px);" x-placement="bottom-start">
              <li><input class="ml-1" name="search[price][]" type="checkbox"><a class="ml-2" href="#" tabindex="-1">Miễn Phí</a>
              </li>
              <li><input class="ml-1" name="search[price][]" type="checkbox"><a class="ml-2" href="#" tabindex="-1">Tính Phí</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex">
            <input class="form-control border-right-0" name="search[keyword]" type="text" placeholder="Nhập từ khóa" style="border: 2px solid rgb(206, 212, 218); height: 40px; border-radius: 0;" />
            <button class="btn btn-ec-conversion px-5 ladda-button rounded-0" type="submit" data-style="expand-right">
              <span class="ladda-label">Tìm kiếm</span>
              <span class="ladda-spinner"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="c-contentsArea__cols">
    <div class="c-contentsArea__primaryCol" id="app">
      <div class="c-primaryCol">

        <div class="card rounded border-0 my-4">

          <div class="card-header"><span class="font-weight-bold ml-2">Kết quả tìm kiếm (2 / 10 trang）</span></div>

          <div class="card-body">
            <div class="row py-2">
              <div class="col-4">
                <div class="plugin-img">
                  <img alt="Chat Messenger" class="w-100 img-responsive" src="https://codecanyon.img.customer.envatousercontent.com/files/245053411/Small+Preview+590x300.jpg?auto=compress%2Cformat&fit=crop&crop=top&w=590&h=300&s=bad280e311cd41d3f93eca068e9a29c3" />
                </div>
              </div>

              <div class="col-5">
                <div class="plugin-title">
                  <h5 class="mb-0">
                    <a class="font-weight-bold" href="#" target="_blank">Chat Messenger</a>
                  </h5>
                </div>
                <div class="plugin-provider mb-3">
                  by <span><a href="#">OnShop</a></span> in <a href="#">Reporting</a>
                </div>
                <div class="plugin-version">
                  <label class="font-weight-bold plugin-attribute">Version:</label>
                  <span>1.0</span>
                  <span class="font-italic"><a href="#">View change log</a></span>
                </div>
                <div class="plugin-desc">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id enim odio. Pellentesque eleifend nibh non ex sodales tincidunt. Nam quis auctor orci, non porta justo.</p>
                </div>
              </div>
              <div class="col-3 text-center border-left position-relative">
                <div class="plugin-payment">
                  <div class="plugin-price text-danger d-flex justify-content-center align-items-end mb-2">
                    <h4 class="mb-0 font-weight-bold">200.000đ</h4>
                    <small class="pl-2">(có VAT)</small>
                  </div>
                  <div class="plugin-rating d-flex justify-content-center align-items-end h6 mb-0">
                    <p class="stars mb-0">
                      <span class="star text-warning"><i class="fas fa-star"></i></span>
                      <span class="star text-warning"><i class="fas fa-star"></i></span>
                      <span class="star text-warning"><i class="fas fa-star"></i></span>
                      <span class="star text-warning"><i class="fas fa-star-half-alt"></i></span>
                      <span class="star text-light"><i class="fas fa-star"></i></span>
                    </p>
                    <small class="plugin-number text-muted pl-2">(1K)</small>
                  </div>
                  <div class="plugin-download font-italic text-muted">
                    <small>989 downloads</small>
                  </div>
                </div>
                <div class="plugin-action position-absolute fixed-bottom px-4 d-flex justify-content-center">
                  <a class="btn btn-ec-regular w-50 mx-1" href="#">Chi tiết</a>
                  <a class="btn btn-primary w-50 mx-1" href="#">Lấy nó</a>
                </div>
              </div>
            </div>

            <hr />

            <div class="row py-2">
              <div class="col-4">
                <div class="plugin-img">
                  <img alt="Chat Messenger" class="w-100 img-responsive" src="https://codecanyon.img.customer.envatousercontent.com/files/245053411/Small+Preview+590x300.jpg?auto=compress%2Cformat&fit=crop&crop=top&w=590&h=300&s=bad280e311cd41d3f93eca068e9a29c3" />
                </div>
              </div>

              <div class="col-5">
                <div class="plugin-title">
                  <h5 class="mb-0">
                    <a class="font-weight-bold" href="#" target="_blank">Chat Messenger</a>
                  </h5>
                </div>
                <div class="plugin-provider mb-3">
                  by <span><a href="#">OnShop</a></span> in <a href="#">Reporting</a>
                </div>
                <div class="plugin-version">
                  <label class="font-weight-bold plugin-attribute">Version:</label>
                  <span>1.0</span>
                  <span class="font-italic"><a href="#">View change log</a></span>
                </div>
                <div class="plugin-desc">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id enim odio. Pellentesque eleifend nibh non ex sodales tincidunt. Nam quis auctor orci, non porta justo.</p>
                </div>
              </div>
              <div class="col-3 text-center border-left position-relative">
                <div class="plugin-payment">
                  <div class="plugin-price text-danger d-flex justify-content-center align-items-end mb-2">
                    <h4 class="mb-0 font-weight-bold">200.000đ</h4>
                    <small class="pl-2">(có VAT)</small>
                  </div>
                  <div class="plugin-rating d-flex justify-content-center align-items-end h6 mb-0">
                    <p class="stars mb-0">
                      <span class="star text-warning"><i class="fas fa-star"></i></span>
                      <span class="star text-warning"><i class="fas fa-star"></i></span>
                      <span class="star text-warning"><i class="fas fa-star"></i></span>
                      <span class="star text-warning"><i class="fas fa-star-half-alt"></i></span>
                      <span class="star text-light"><i class="fas fa-star"></i></span>
                    </p>
                    <small class="plugin-number text-muted pl-2">(1K)</small>
                  </div>
                  <div class="plugin-download font-italic text-muted">
                    <small>989 downloads</small>
                  </div>
                </div>
                <div class="plugin-action position-absolute fixed-bottom px-4 d-flex justify-content-center">
                  <a class="btn btn-ec-regular w-50 mx-1" href="#">Chi tiết</a>
                  <a class="btn btn-primary w-50 mx-1" href="#">Lấy nó</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <ul class="pagination justify-content-center">
              <li class="page-item active">
                <button class="page-link" disabled="">
                  <span>1</span>
                </button>
              </li>
              <li class="page-item">
                <button class="page-link">
                  <span>2</span>
                </button>
              </li>
              <li class="page-item">
                <button class="page-link">
                  <span>3</span>
                </button>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </div>
{% endblock %}
